
.myContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}
.myInput{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.myDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
}
