
.myContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}
.myInput{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.myInput input{
    font-size: 25px;
    color: #000;
    border: 1px solid #000;
    padding: 10px;
}
.myInput div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.myInput div label{
    font-size: 25px;
}
.myInput button{
    font-size: 2rem;
    color: #fff;
    background-color: blueviolet;
    border: none;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    transition: 0.5s ease;
}

.myDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.myDisplay h1{
    margin: 0;
}
.myDisplay p{
    margin: 0;
    font-size: 25px;
}
.myDisplay button{
    font-size: 20px;
    color: #fff;
    background-color: red;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease;
}

.myDisplay button:hover, .myInput button:hover{
    opacity: 0.6;
}
.myDisplay button:nth-child(5){
    background-color: blueviolet;
}
.myDisplay input:nth-child(4){
    padding: 10px;
    font-size: 15px;
    border: 1px solid #000;
    color: #000;
}
