.myContainer{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
}
.myContainer input{
    font-size: 20px;
    padding: 10px;
    border: 3px solid #000;
    color: #000;
}
.myControls{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.myControls button{
    font-size: 2rem;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    transition:  0.5s ease;  
}
.myControls button:nth-child(1){
    background-color: blue;
}
.myControls button:nth-child(2){
    background-color: red;
}
.myControls button:nth-child(3){
    background-color: blueviolet;
    font-size: 27px;
    padding: 20px 10px;
}

.myControls button:hover{
    opacity: 0.6;
}
